
.project{
  aspect-ratio: 1;
  position: relative;
  &::after{
    content: '';
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    background: url("https://picsum.photos/300/300?grayscale");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .project-overlay{
    position: absolute;
    z-index: 2;
    border-radius: 50%;
    background-image: linear-gradient(45deg, $primary, $secondary);
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s cubic-bezier(.215,.61,.355,1), visibility 0.5s;
  }
  &:hover .project-overlay{
    opacity: 0;
    visibility: hidden;
  }
}
#l1-pomelia{
  .project::after{
    width: 80%;
    height: 80%;
    background: url("/img/POMELIA.png");
    background-position: center;
    background-size:auto;
    filter: grayscale(1);
  }
  .project-overlay{
    width: 70%;
    height: 70%;
  }
}
#l2-kicks{
  .project::after{
    width: 100%;
    height: 100%;
    background: url("/img/kicks-img-s-21.png");
    background-position: center;
    background-size: auto;
    filter: grayscale(1);
  }
  .project-overlay{
    width: 90%;
    height: 90%;
  }
}
#l3{
  .project::after{
    width: 90%;
    height: 90%;
  }
  .project-overlay{
    width: 80%;
    height: 80%;
  }
}
#l4{
  .project::after{
    width: 85%;
    height: 85%;
  }
  .project-overlay{
    width: 75%;
    height: 75%;
  }
}
#l5{
  .project::after{
    width: 75%;
    height: 75%;
  }
  .project-overlay{
    width: 65%;
    height: 65%;
  }
}
#l6{
  .project::after{
    width: 95%;
    height: 95%;
  }
  .project-overlay{
    width: 85%;
    height: 85%;
  }
}
#l4, #l5, #l6 {
  display: none;
}