$primary:#FDC500;
$secondary:#FFEE32;
$light: #fafafa;
$dark: #03071E;
$headings-font-family:'Raleway', sans-serif;

// import bootstap
@import '../node_modules/bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400&family=Raleway:ital,wght@0,100;0,400;0,700;1,100;1,400&display=swap');
@import 'portfolio';
@import 'decoration';

:root{
  --bs-body-font-family: 'Merriweather',serif;
}
.page{
  overflow: hidden;
}
h1{
  font-size: 10rem;
  letter-spacing: 0.5rem;
}
.btn {
  border-radius: 20px;
  font-family: $headings-font-family;
  text-transform: uppercase;
  transition: all 0.3s cubic-bezier(.215,.61,.355,1);
}
.btn:hover {
  transform: scale(1.1);
}
.colorful{
  background-image: linear-gradient(to top, $primary, $secondary);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.section-title{
  letter-spacing: 0.5rem;
  text-shadow: 1px 1px 5px rgba($dark,0.25);
}
.navbar-toggler{
  aspect-ratio: 1;
  background-color: var(--bs-body-color);
  border-radius: 50%;
  transition: 0.5s cubic-bezier(.215,.61,.355,1);
  &:hover{
    transform: scale(1.1);
  }
}
.toggler-icon{
  color: var(--bs-body-bg)
}
#darkMode{
  background-color: var(--bs-body-bg);
  color: var(--bs-heading-color);
  border: none;
  transition: color 0.5s cubic-bezier(.215,.61,.355,1);
  &:hover{
    color: $primary;
  }
}
.nav-link{
  text-transform: uppercase;
  font-family: $headings-font-family;
  text-decoration: none;
  color: var(--bs-heading-color);
  letter-spacing: 0.2rem;
  transition: all 0.5s cubic-bezier(.215,.61,.355,1);
  &:hover,
  &:visited:hover{
    color: $primary;
    letter-spacing: 0.4rem;
  }
  &:visited{
    color: var(--bs-heading-color);
  }
}

#about-me img {
  border-radius: 50%;
  filter: grayscale(1);
}
