div#intro {
  position: relative;
}
//Yellow circle
div#intro::before {
  content: "";
  background-image: linear-gradient(0deg, $tertiary, $primary, $secondary);
  animation: sunshine 1s linear 0s infinite;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50rem;
  height: 50rem;
  border-radius: 50%;
  z-index: -1;
}
div#intro::after {
  content: "";
  background-color: var(--bs-body-bg);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 38rem;
  height: 38rem;
  border-radius: 50%;
  z-index: -1;
}
