.project {
  aspect-ratio: 1 /1;
  filter: grayscale(1);
  background-size: cover;
  transition: 0.5s;
  &--0 {
    background-image: url(../img/kicks.png);
  }
  &--1 {
    background-image: url(../img/counter.png);
  }
  &--2 {
    background-image: url(../img/hacker-news.png);
  }
  &--3 {
    background-image: url(../img/nxt.png);
  }
  &--4 {
    background-image: url(../img/checked.png);
    background-position: center;
  }
  &--5 {
    background-image: url(../img/flow.png);
    background-position: center;
  }
  &:hover,
  &:active {
    filter: none;
  }
}
