.project {
  aspect-ratio: 1 /1;
  border: 1px solid white;
  filter: grayscale(1);
  background-size: cover;
  &--1 {
    background-image: url(../img/hacker-news.png);
  }
  &--2 {
    background-image: url(../img/kicks-img-s-21.png);
  }
  &--3 {
    background-image: url(../img/counter.png);
  }
}
