$primary:#FDC500;
$secondary:#FFEE32;
$light: #FFFDEB;
$dark: #141000;
$headings-font-family:'Raleway', sans-serif;

// import bootstap
@import '../../node_modules/bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400&family=Raleway:ital,wght@0,100;0,400;0,700;1,100;1,400&display=swap');
@import 'portfolio';
@import 'decoration';

:root{
  --bs-body-font-family: 'Merriweather',serif;
}
.page{
  overflow: hidden;
}
#home h1{
  font-size: 10rem;
  letter-spacing: 0.5rem;
}
h1{
  letter-spacing:0.1 rem;
}
.btn {
  border-radius: 20px;
  font-family: $headings-font-family;
  text-transform: uppercase;
  transition: all 0.3s cubic-bezier(.215,.61,.355,1);
}
.btn:hover {
  transform: scale(1.1);
}
.colorful{
  background-image: linear-gradient(to top, $primary, $secondary);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.section-title{
  letter-spacing: 0.5rem;
  text-shadow: 1px 1px 5px rgba($dark,0.25);
}
.navbar-toggler{
  aspect-ratio: 1;
  background-color: var(--bs-body-color);
  border-radius: 50%;
  transition: 0.5s cubic-bezier(.215,.61,.355,1);
  &:hover{
    transform: scale(1.1);
  }
}
.toggler-icon{
  color: var(--bs-body-bg)
}
#darkMode{
  background-color: var(--bs-body-bg);
  color: var(--bs-heading-color);
  border: none;
  transition: color 0.5s cubic-bezier(.215,.61,.355,1);
  &:hover{
    color: $primary;
  }
}
.nav-link{
  text-transform: uppercase;
  font-family: $headings-font-family;
  text-decoration: none;
  color: var(--bs-heading-color);
  letter-spacing: 0.2rem;
  transition: all 0.5s cubic-bezier(.215,.61,.355,1);
  &:hover,
  &:visited:hover{
    color: $primary;
    letter-spacing: 0.4rem;
  }
  &:visited{
    color: var(--bs-heading-color);
  }
}

#about-me img,
#main img {
  border-radius: 50%;
  filter: grayscale(1);
}

#other img{
  filter: invert(0.50);

}
.progress{
  height: 3px;
}
.spinner-wrapper {
  background-color: var(--bs-body-bg);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  transition: opacity 0.3s;
  display: flex;
}
 @media print {
  #main img,
  #other img{
    max-width: 180px;
  }
  .progress {
    position: relative;
  }
  .progress:before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    border-bottom: 2rem solid #eeeeee;
  }
  .progress-bar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    border-bottom: 2rem solid $primary;
  }
}